<div class="card card-doby p-4 rounded-0 bg-dark text-white">

	<h3>Añade una tarea</h3>

	<form action="/tasks/add" method="POST">
		<div>
			<label for="title">Escribe un titulo:</label>
			<input type="text" name="title" placeholder="title" id="title" class="form-control founded-0 bg-dark text-white">
		</div>

		<div>
			<label for="description">description:</label>
			<textarea name="description" placeholder="description" id="description" class="form-control founded-0 bg-dark text-white"></textarea>
		</div>

		<button class="btn btn-primary btn-sm mt-2">Add</button>
	</form>
</div>